    header {
    text-align: center;
    }
    nav {
        text-align: center;
    }
    article {
        float: left;
        width: 600px;
    }
    aside {
        float: right;
        width: 1000px;
    }
    footer {
        position: absolute;
        top: 600px;
    }